html,body, dd, dl, dt, fieldset, form, button, h1, h2, h3, h4, h5, h6, hr, br, input, textarea, legend, ul, ol, li, p, td, th, span, strong, iframe, em, b, img, a, nav, header, footer, section{
    margin: 0;
    padding: 0;
}  /*清除全局默认样式*/

body,button, input, select, textarea { /* for ie */
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

ul,li { list-style: none; }

a { text-decoration: none;  cursor: pointer; }

input { outline: none; }

body{
	color: #3C3C3C;
}
